body {
  display: block;
  margin: 50px;
  padding: 30px;
  border: solid 1px grey;
  border-radius: 20px;
  font-family: arial, sans-serif;
  color: #202124;
  max-width: 2000px;
  position: fixed;
  left: 10px;
}

li {
  list-style: none;
  color: grey;
}

li:first-letter {
  text-transform: capitalize;
}

strong {
  font-size: 25px;
  color: black;
}

h4 {
  font-size: 15px;
}
p {
  font-size: 10px;
  position: relative;
}

#linkGitHub {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.cloudy {
  display: inline-block;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}

.reminder {
  font-size: 10px;
  margin-bottom: 20px;
}

.col.others {
  color: grey;
  text-align: right;
}

.weather-temp-max {
  color: #202124;
}

.active {
  color: #202124;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin: 30px;
  text-align: center;
  color: grey;
}

.weather-forecast-date {
  color: rgba(0, 0, 0, 0.568);
}

.weather-forecast-temp {
  font-size: 13px;
  opacity: 0.5;
  color: black;
}
